ABS-Servlet/nbproject/
ABS-Servlet/build/
ABS-Servlet/nbbuild/
ABS-Servlet/dist/
ABS-Servlet/nbdist/
ABS-Servlet/nbactions.xml
ABS-Servlet/nb-configuration.xml
ABS-Servlet/.nb-gradle/
ABS-Tomcat/build.xml

ABS-Tomcat/nbproject/
ABS-Tomcat/build/
ABS-Tomcat/nbbuild/
ABS-Tomcat/dist/
ABS-Tomcat/nbdist/
ABS-Tomcat/nbactions.xml
ABS-Tomcat/nb-configuration.xml
ABS-Tomcat/.nb-gradle/
ABS-Tomcat/build.xml